# Build output
bin/
obj/

# Database files
*.db
*.sqlite
*.sqlite3

# Visual Studio / Visual Studio Code
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.cache
*.log

# NuGet packages
packages/

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains Rider
.idea/